table {
    border-collapse: collapse;
    width: 100%;
}
td {
    border: 1px solid black;
    width: 33%;
    height: 300px;
    
}
td div {
    display: flex;
    flex-direction: column;
    align-items: left; /* Căn trái theo chiều ngang */
    text-align: left; /* Căn text sang trái */
}
.image_nomal {
    width: 33%;
    max-height: 100px; /* Thay đổi thành max-height để hình ảnh không bị scale khi cao hơn 100px */
    object-fit: cover;
    margin: auto; /* Để căn giữa theo chiều ngang */
}
.td_rowspan marquee {
    display: flex;
}
.td_rowspan marquee b {
    margin: 20px 0;
}
.td_rowspan marquee img {
    width: 40%;
    height: 150px;
    object-fit: cover;
}
header marquee img {
    width: 90px;
    height: 50px;
    /* object-fit: cover; */
}
